# Rust artifacts
Cargo.lock
target/

# Node artifacts
build/
prebuilds/
jiraCSAgent/node_modules

*.tgz

# Swift artifacts
.build/

# Go artifacts
go.sum
_obj/

# Python artifacts
.venv/
dist/
*.egg-info
*.whl

# C artifacts
*.a
*.so
*.so.*
*.dylib
*.dll
*.pc

# Example dirs
/examples/*/

# Grammar volatiles
*.wasm
*.obj
*.o

#neo4J
KnowledgeBase/.neo4j/*/

# google
.idx/*/

# others
tmp/*/
tmp
docs
.claude.json
.env